    <div class="jumbotron text-center">
      <div class="container">
        <h1>Welcome to Black Hat Design!</h1>
        <p>Your complete web design specialists!</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>